// Colors
$color-brand: #ffe600;

$grey-1: #eeeeee;
$grey-2: #999999;
$grey-3: #333333;

$bg-color: #eeeeee;

$section-bg: #ffffff;

$btn-primary: #3483fa;

// Fonts
$font-size: 13px;
$font-family: 'Proxima Nova', -apple-system, 'Helvetica Neue', Helvetica, Roboto,
  Arial, sans-serif;